<h1>HP Ping Pong Club Portal</h1>
<a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Player Portal Login</a>
<a href="/signup" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Player Signup</a>